

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    
}

h1 {
    text-shadow: 2px 1px 2px black;
}

button {
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    box-shadow: 1px 1px 1px black;
    transition: 0.3s ease;
    font-size: 24px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(236, 165, 165);
    transform: scale(1.05);
    
}